<table id="expenses-table">
    <thead>
        <tr>
            <th>Description</th>
            <th>Amount</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        @for(expense of expenses; track expense.id)
        {
        <tr>
            <td>{{expense.description}}</td>
            <td>$ {{expense.amount.toFixed(2)}}</td>
            <td>{{expense.category}}</td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td>Total:</td>
            <td>
                <span id="total-amount"> {{totalExpenses.toFixed(2)}}</span>
            </td>
            <td></td>
        </tr>
    </tfoot>
</table>